.main {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.table {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: space-between;
  background-color: #86c0d7;
}

.item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.item span {
  color: #ffffff;
  font-weight: bold;
}

.line {
  margin-top: 1rem;
  height: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000000
}

.line .item span {
  color: black;
}
