.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50%;
  height: 60%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-width {
  width: 50%
}
